body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #a20e0e;
}
body h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 48px;
    color:cornflowerblue;
    text-shadow: 2px 2px #000000;
}

.tela {
    height: 50px;
    border: solid #000000;
    grid-column-start: 2;
    grid-column-end: 2;
    border: solid #FFFFFF;
    border-radius: 5px;
    text-align: end;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: cornflowerblue;
    font-size: 36px;
    background: #605959;
}

.calculadora {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    height: 186px;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 10px;
}

.calculadora button {
    border: none;
    border-radius: 5px;
}

.key--equal {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    background: cornflowerblue;
}

.key--operator {
    background: #f7eec3;
}